@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: calc(100vh - 40px);
    padding: 20px 0;
}

.jogo {
    background: white;
    border-radius: 15px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 500px;
}

.jogo .jogo__input {
    padding: 10px;
}

.jogo .jogo__botao {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.jogo .jogo__premio {
    color: #4CAF50;
    font-size: 22px;
    margin-bottom: 15px;
}

.jogo .jogo__input.jogo__input--jogar_novamente {
    padding-top: 25px;
}
